.App {
  text-align: center;
}

.products{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
 justify-content: space-around;
}

.dicount{
  background-color: white;
  height: 400px;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}
.discount-banner{
  background: linear-gradient(to right, rgb(0, 0, 3), rgb(44, 36, 74));
  border-radius: 6px;
  width: 70%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark{
  background-color: rgb(150, 150, 150);
}

.dark .menu{
  background-color: #717171 !important;
}